-- Update Phil-IRI Baseline Check Constraints to match JHS Manual Strings

ALTER TABLE public.phil_iri_baseline_records DROP CONSTRAINT IF EXISTS phil_iri_baseline_records_reading_level_check;
ALTER TABLE public.phil_iri_baseline_records ADD CONSTRAINT phil_iri_baseline_records_reading_level_check 
  CHECK (reading_level IN ('Frustration', 'Instructional', 'Independent', 'Non-Reader', 'Not Assessed'));

ALTER TABLE public.phil_iri_baseline_records DROP CONSTRAINT IF EXISTS phil_iri_baseline_records_screening_interpretation_check;
ALTER TABLE public.phil_iri_baseline_records ADD CONSTRAINT phil_iri_baseline_records_screening_interpretation_check 
  CHECK (screening_interpretation IN (
    '3 levels lower Phil-IRI testing', 
    '2 levels lower Phil-IRI testing', 
    'No Phil-IRI test required', 
    'Individualized Assessment (Starting point: 3 grade levels below)', 
    'Individualized Assessment (Starting point: 2 grade levels below)', 
    'No further individualized assessment from GST', 
    'No data'
  ));
